h1,h2,h3,h4,h5, button ,a{
    font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p, li,ul{
    font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
    margin-top: 60px;
}

.navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    z-index: 1000;
    background: linear-gradient(to bottom, rgb(17, 17, 17, 1), rgba(255, 255, 255, 0));
}

.paginas-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.paginas-nav li {
    margin: 0 15px;
}

.paginas-nav a {
    text-decoration: none;
    color: #EAD2AC;
    transition: color 0.3s;
}

.hoverable:hover {
    color: #2EBFA5;
}

/* estilo de peliculas */
.movie-card {
    width: 20vw;
    height: 25vh;
    color: #EAD2AC;
    border-radius: 20px;
    position: relative;
    border: none;
    overflow: hidden;
    background-color: #222;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    transition: box-shadow , transform 0.3s;
}
.movie-card:hover {
    transform: scale(1.05);
    box-shadow: #2EBFA5 0px 0px 20px;
}


.movie-overlay img {
    width: 100%;
    filter: brightness(50%);
}

.movie-title {
    position: absolute;
    left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-family: 'Arial Black', sans-serif;
}
#categoria-titulo , #categoria-titulo h1 {
    display: flex;
    justify-content: left;
    color: #EAD2AC;
    padding: 30px;
    font-size: 3rem;
}
#categorias{
    display: flex;
    justify-content: center;
    color: #EAD2AC;
    justify-content:space-evenly;
    cursor: pointer;
}

.card-categorias h2{
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;
}

.card-categorias {
    width: 20vw;
    height: 25vh;
    color: #EAD2AC;
    border-radius: 20px;
    position: relative;
    border: none;
    overflow: hidden;
    background-color: #222;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

}


.card-categorias[data-bg="accion"]:hover {

    background-image: url('https://64.media.tumblr.com/61d1c199771da715b77c65e0b7326ce4/18f68a7ecd7c022c-e5/s540x810/3b63e706d448df08bd1323bb94ef8c7e33c2f12f.gif');
}

.card-categorias[data-bg="aventura"]:hover {
    background-image: url('https://media0.giphy.com/media/bnDYyn2HMzqpDEUecP/giphy.gif?cid=6c09b952ebzi8kdna39atqxtgch8dxsl7bftpvdri5xuvmm9&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=g');
}

.card-categorias[data-bg="ciencia-ficcion"]:hover {
    background-image: url('https://2.bp.blogspot.com/-JSbIpC1k0d0/Vh2qFB-Ip1I/AAAAAAAACjc/VfDbt-8IK0g/s640/alien%2B8.gif');
}

.card-categorias[data-bg="comedia"]:hover {
    background-image: url('https://i.makeagif.com/media/12-06-2020/f75TL5.gif');
}


.card-categorias:hover {
    color: #2EBFA5;
    background-size: cover;
    background-position: center;
    transform: scale(1.02);
}


/*  cartelera */

.cartelera-semanal {
    display: flex;
    color: #EAD2AC;
    cursor: pointer;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content:space-evenly;
}

.cartelera-semanal:hover {
    color: #2EBFA5;
}


/* gestion_usuario */

.tabla-gestion-usuario{
    display: flex;
    margin-top: 3rem;
    height: 20vh;
}

.titulo-gestion{
    color:white;
    margin-top: 20rem;
    text-align: center;
}

.menu-button {
    display: none; /* Ocultar el botón en resoluciones grandes */
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}


@media (max-width: 400px){


    .navbar .container-fluid {
       width: 100%;
    }

    .navbar img{
        height: 45px;
        width: 100px;

    }

    .paginas-nav{
        display: none;
        flex-direction: column;
        background-color: #222;
        position: absolute;
        top: 0px;
        gap: 10px;
        right: 242px;
        width: 402px;
        height: 250px;
        text-align: right;
        padding: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .paginas-nav.active {
        display: flex;
    }

    .menu-boton {
        position: fixed;
        top: 20px;
        right: 190px;
        z-index: 1101;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #EAD2AC;
    }
}


/* Estilos para pantallas grandes (default) */
#ticket {
    left: 20rem;
    width: 80rem;
    height: 47rem;
    border-radius: 15px;
    background-color: #222;
    color: #EAD2AC;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    transition: box-shadow 0.3s;
}

#ticket:hover {
    box-shadow: #2EBFA5 0px 0px 20px;
}

/* Para pantallas medianas (tablets) */
@media (max-width: 1024px) {
    #ticket {
        width: 90%;
        height: auto;
        left: 5%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    #ticket {
        width: 95%;
        left: 2.5%;
        height: auto;
        padding: 15px;
        font-size: 1rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

/* Para pantallas muy pequeñas (móviles pequeños) */
@media (max-width: 480px) {
    #ticket {
        width: 100%;
        left: 0;
        height: auto;
        padding: 10px;
        font-size: 0.9rem;
    }
}


/* Peli catalogo */



.reproductor{
    color: #1F1E24;

}

.titulo-pelicula h1{
    font-size: 4.5rem;
    font-weight: 700;
}

.categorias p{
    font-family: "Lexend", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;

}

.edad p{
    font-family: "Lexend", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    margin-top: -15px;
}

.categorias{
    display : flex;
}

.pelicula {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pelicula img {
    width: 100%; /* Hace que la imagen sea responsiva */
    max-width: 120rem; /* Máximo tamaño en pantallas grandes */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Evita espacios no deseados */
}

.degradado-info a{
    position: absolute;
    transform: translate(-50%, -50%); /* Asegura un centrado perfecto */
    width: 85vw; /* Ajusta el ancho relativo a la pantalla */
    height: 96.5vw;
    background: linear-gradient(to right, #00ffdd, rgba(39, 82, 76, 0));
    right: -15%; /* Lo pega al borde derecho */

}

.info-peli {
    width: 100vw; /* Ajusta el ancho relativo a la pantalla */
    position: absolute;
    top: 60%;
    left: 5%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 10px;
    z-index: 10; /* Asegura que esté por encima */
    width: 35%; /* Ajusta el ancho según lo necesites */
}

.descripcion-peli{
    width: 100%;

}

.descripcion-peli p{
    font-family: "Poppins";
    font-weight: 400;
}

.otros-botones{
    display: flex;
    margin-top: 200px;
}

.botones-pelicula button{
    background-color: #1F1E24;
    border-radius: 10px;
    color: #2EBFA5;
    padding: 7px 20px;
    margin-right: 15px;
    font-family: "Lexend", sans-serif;
    font-weight: 700;
    border-style: none;
    transition: box-shadow , transform 0.3s;

}

.botones-pelicula button:hover{
    transform: scale(1.05);
}

.ver-ya button{
    padding: 15px 30px;
    padding-right: 80px;
    position: absolute;
    top: 87.5%;
    font-size: 20px;
    transition: box-shadow , transform 0.3s;
}

.ver-ya button:hover{
    transform: scale(1.05);
}

.play-button {
    width: 0;
    height: 0;
    background: transparent;
    position: absolute;
    left: 22%;
    top: 89.2%;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    width: 40px; /* Ajusta el tamaño */
    height: 40px;
    background-color: #2EBFA5; /* Color del triángulo */
}

.trailer{
    position: relative;
    margin-left: 220px;

}

.heart {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #1F1E24;
    transform: rotate(-45deg);
    margin: 10px 20px;
    transition: box-shadow , transform 0.4s;

}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #1F1E24;
    border-radius: 50%;

}

.heart::before {
    top: -10px;
    left: 0;

}

.heart::after {
    left: 10px;
    top: 0;
}

.heart:hover{
    transform: scale(1.5);
    transform: rotate(315deg);
}

.detalles {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; /* Ajusta la altura según el contenido */
    margin-bottom: 50px; /* Agrega espacio debajo */

}

.detalles h1{
    margin-top: 90px;
    margin-bottom: 20px;
    color: #2EBFA5;
    font-size: 4.5rem;
    font-weight: 750;
}

.texto-detalles {
    color: white;
    width: 1050px;
    padding: 40px;
    background: linear-gradient(to left, rgb(31, 189, 168, 0.6), rgba(39, 82, 76, 0.3));
    border-radius: 10px;


}

.reparto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 50px;
    transition: box-shadow , transform 0.3s;
}


.reparto h1{
    color: #2EBFA5;
    font-weight: 700;
    font-size: 70px;
}

.actores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px;
    row-gap: 20px;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 20px auto;

}

.actor{
    width: 310px;
    height: 410px;
    margin: auto;
    background: linear-gradient(to top, rgb(31, 189, 168, 0.6), rgba(45, 105, 97, 0.3));
    border-radius: 10px;
    transition: box-shadow , transform 0.3s;

}

.actor:hover{
    transform: scale(1.05);

}


.nombre-actor{
    color: white;
    margin-top: 340px;
    margin-left: 80px;
    justify-content: center;
    align-items: center;
}

.nombre-actor h4{
    font-size: 2.5rem;
    font-family: "Poppins";
    font-weight: 600;
}

@media (max-width: 960px) {



    .pelicula img {
        max-width: 100%; /* La imagen ocupará el 90% del ancho de la pantalla */
        max-height: 49%; /* Mantiene proporciones */
    }

    .info-peli {
        height: 30%;
        top: 27%;
        left: 3%;
    }

    .titulo-pelicula h1{
        font-size: 2rem;
    }

    .categorias p{
        font-size: 0.8rem;
    }

    .edad p{
       font-size: 0.8rem;
    }
    .descripcion-peli p{
        font-size: 0.8rem;
    }

    .otros-botones{
        display: flex;
        position: absolute;
        top: 29.5%;
        left: -5%;
    }

    .otros-botones button{

        border-radius: 5px;
        font-size: 0.6rem;

    }

    .ver-ya button{
        padding: 10px 15px;
        padding-right: 80px;
        position: absolute;
        top: 98%;
        font-size: 15px;
    }

    .play-button {
        position: absolute;
        top: 100%;
        left: 38%;
        width: 30px;
        height: 30px;

    }

    .heart {

        width: 13px;
        height: 13px;
        background-color: #1F1E24;
        transform: rotate(-45deg);
        margin: 10px 10px;
        transition: box-shadow , transform 0.4s;

    }

    .heart::before,
    .heart::after {
        content: "";
        position: absolute;
        width: 13px;
        height: 13px;
        background-color: #1F1E24;
        border-radius: 50%;

    }

    .heart::before {
        top: -7px;
        left: 0;

    }

    .heart::after {
        left: 7px;
        top: 0;
    }


    .detalles{
        margin-top: -200;
        width: 100%;
        height: 0vh;
        margin-bottom: 400px;
    }

    .texto-detalles{
        width: 700px;
    }

    .titulo-detalles h1{
        font-size: 3.5rem;
        margin-bottom: 50px;
    }

    .reparto{
        margin-bottom: 10px;
    }
    .actor{
        width: 220px;
        height: 300px;
    }

    .nombre-actor{
        margin-top: 220px;
        margin-left: 55px;

    }

    .nombre-actor h4{
        font-size: 2rem;
        font-weight: 500;
    }

}

@media (max-width: 400px) {

    .degradado-info a{
        position: absolute;
        transform: translate(-50%, -50%); /* Asegura un centrado perfecto */
        width: 100vw; /* Ajusta el ancho relativo a la pantalla */
        height: 30vw;
        background: linear-gradient(to top, #00ffdd, rgba(39, 82, 76, 0));
        right: -50%; /* Lo pega al borde derecho */
        top: 15.3%;
    }

    .pelicula{
        height: 1300px;
        margin-bottom: -620px;
    }
    .pelicula img {
        max-width: 100%; /* La imagen ocupará el 90% del ancho de la pantalla */
        max-height: 20%; /* Mantiene proporciones */
        height: 200px;
    }

    .info-peli{
        width: 350px;
    }
    .titulo-pelicula h1{
        position: absolute;
        top: 45%;
    }

    .categorias, .edad, .descripcion-peli{
        position: absolute;
        top: 80%;
        width: 300px;
        color: #2EBFA5;

    }

    .descripcion-peli{
        display: none;
    }

    .titulo-pelicula{
        width: 120px;
    }

    .titulo-pelicula h1{
        font-size: 1.8rem;
        width: 350px;
    }

    .categorias{
        position: absolute;
        top: 74.3%;
    }

    .categorias p{
        font-size: 1rem;
    }

    .edad{
        position: absolute;
        top: 50.5%;
        left: 93%;
        color: #1F1E24;

    }
    .edad p{
       font-size: 1.5rem;
    }
    .descripcion-peli p{
        font-size: 0.8rem;
    }

    .hora{
        position: absolute;
        top: 85%;
        color: #2EBFA5;
    }

    .otros-botones{
        display: flex;
        position: absolute;
        top: 29.5%;
        left: -5%;
    }

    .botones-pelicula button{
        background-color: #2EBFA5;
        border-radius: 5px;
        color: #1F1E24;
        padding: 10px 15px;
        margin-right: 0px;
        font-family: "Lexend", sans-serif;
        font-weight: 700;
        border-style: none;
        transition: box-shadow , transform 0.3s;
        font-size: 0.8rem;

    }

    .trailer {
        position: absolute;
        top: -65%;
        left: -200%;

    }

    .otros-botones button{
        position: absolute;
        border-radius: 5px;
        font-size: 0.8rem;

    }

    .ver-ya button{
        padding-right: 40px;
    }


    .play-button {
        position: absolute;
        top: 101%;
        left: 27%;
        width: 20px;
        height: 20px;
        background-color: #1F1E24;

    }

    .detalles{
        margin-top: -200;
        width: 100%;
        height: 0vh;
        margin-bottom: 400px;
    }

    .texto-detalles{
        width: 350px;
    }

    .titulo-detalles h1{
        font-size: 2.5rem;
        margin-bottom: 50px;
    }

    .reparto{
        width: 100%;
    }

    .reparto h1{
        font-size: 2.5rem;
    }
    .actores {
        gap: 10px;
    }

    .actor{
        width: 120px;
        height: 180px;
    }

    .nombre-actor{
        margin-top: 140px;
        margin-left: 30px;

    }

    .nombre-actor h4{
        font-size: 1rem;
        font-weight: 500;
    }

}



/* Login*/

.container-1{
    position: absolute;
    top: 25%;
    left: 10%;
    height: 500px;
    width: 600px;
    }

    .container-1 img{
        position: absolute;
        top: 10%;
        left: 10%;
        height: 370px;
        width: 500px;
    }

    .imagen-fondo{
        position: absolute;
        top: 0;
        right: 0;
        width: 55%; /* Ocupa la mitad derecha */
        height: 100vh; /* Toda la altura de la pantalla */
        background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
                    url('public/images/log.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .container-2{
        background-color: #1F1E24;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 30%;
        left: 62%;
        border-radius: 10px;
        padding: 20px 20px;
        z-index: 1000;
        padding:  20px 50px;
    }

    .container-2-reg{
        background-color: #1F1E24;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 20%;
        left: 62%;
        border-radius: 10px;
        padding: 20px 20px;
        z-index: 1000;
        padding:  20px 50px;
    }


    .titulo-registro h1{
        font-weight: 700;
        color: #2EBFA5;
        font-size: 60px;
        margin-left: 15px;
        margin-left: 40px;
    }

    .titulo-inicio h1{
        font-weight: 700;
        color: #2EBFA5;
        font-size: 40px;
        margin-left: 15px;
    }

    #formulario {
        color: #2EBFA5;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
    }

    .form-check-label{
        font-weight: 200;
    }

    #boton-registrarme{
        margin-top: 15px;
        padding-left: 155px;
        padding-right: 155px;
        font-family: "Lexend", sans-serif;
        font-weight: 700;
    }

    #boton-log{
        margin-top: 15px;
        padding-left: 125px;
        padding-right: 125px;
        font-family: "Lexend", sans-serif;
        font-weight: 700;
    }

