h1,h2,h3,h4,h5, button ,a{
    font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p, li,ul{
    font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
    margin-top: 60px;
}

.navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    z-index: 1000;
    background-color: #2222227a;
}

.paginas-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.paginas-nav li {
    margin: 0 15px;
}

.paginas-nav a {
    text-decoration: none;
    color: #EAD2AC;
    transition: color 0.3s;
}

.hoverable:hover {
    color: #2EBFA5;
}

/* estilo de peliculas */
.movie-card {
    width: 20vw;
    height: 25vh;
    color: #EAD2AC;
    border-radius: 20px;
    position: relative;
    border: none;
    overflow: hidden;
    background-color: #222;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    transition: box-shadow , transform 0.3s;
}
.movie-card:hover {
    transform: scale(1.05);
    box-shadow: #2EBFA5 0px 0px 20px;
}


.movie-overlay img {
    width: 100%;
    filter: brightness(50%);
}

.movie-title {
    position: absolute;
    left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-family: 'Arial Black', sans-serif;
}
#categoria-titulo , #categoria-titulo h1 {
    display: flex;
    justify-content: left;
    color: #EAD2AC;
    padding: 30px;
    font-size: 3rem;
}
#categorias{
    display: flex;
    justify-content: center;
    color: #EAD2AC;
    justify-content:space-evenly;
    cursor: pointer;
}

.card-categorias h2{
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;
}

.card-categorias {
    width: 20vw;
    height: 25vh;
    color: #EAD2AC;
    border-radius: 20px;
    position: relative;
    border: none;
    overflow: hidden;
    background-color: #222;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

}


.card-categorias[data-bg="accion"]:hover {

    background-image: url('https://64.media.tumblr.com/61d1c199771da715b77c65e0b7326ce4/18f68a7ecd7c022c-e5/s540x810/3b63e706d448df08bd1323bb94ef8c7e33c2f12f.gif');
}

.card-categorias[data-bg="aventura"]:hover {
    background-image: url('https://media0.giphy.com/media/bnDYyn2HMzqpDEUecP/giphy.gif?cid=6c09b952ebzi8kdna39atqxtgch8dxsl7bftpvdri5xuvmm9&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=g');
}

.card-categorias[data-bg="ciencia-ficcion"]:hover {
    background-image: url('https://2.bp.blogspot.com/-JSbIpC1k0d0/Vh2qFB-Ip1I/AAAAAAAACjc/VfDbt-8IK0g/s640/alien%2B8.gif');
}

.card-categorias[data-bg="comedia"]:hover {
    background-image: url('https://i.makeagif.com/media/12-06-2020/f75TL5.gif');
}


.card-categorias:hover {
    color: #2EBFA5;
    background-size: cover;
    background-position: center;
    transform: scale(1.02);
}


/*  cartelera */

.cartelera-semanal {
    display: flex;
    color: #EAD2AC;
    cursor: pointer;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content:space-evenly;
}

.cartelera-semanal:hover {
    color: #2EBFA5;
}

